@font-face {
  font-family: "Gerbera";  
  src: url("../fonts/Gerbera-Bold.ttf") format("truetype"); 
  font-style: normal; 
  font-weight: 600;
  }

@font-face {
  font-family: "Gerbera";  
  src: url("../fonts/Gerbera-Medium.ttf") format("truetype"); 
  font-style: normal; 
  font-weight: 500;
  }

  @font-face {
font-family: "Gerbera";  
src: url("../fonts/Gerbera.ttf") format("truetype"); 
font-style: normal; 
font-weight: 400;
}

@font-face {
  font-family: "Gerbera";  
  src: url("../fonts/Gerbera-Light.ttf") format("truetype"); 
  font-style: normal; 
  font-weight: 300;
  }


   
